body{
    font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.weather-app{
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #F9F7FE;
    background-color: #F9F7FE;
    color: black;
    border-radius: 5px;
    
}
h1{
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #272142;
}
ul {
  margin: 0;
  padding: 0;
}
li{
    list-style: none;
}
.temperature-container{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}